/* == HOME PAGE == */

.home-cta{
    text-align: center;
    padding: "60px 20px";
    margin-bottom: 40;
}

.home-cta-text{
    font-size: 17px;
    color: "#666";
}

/* == TABLET == */

@media (max-width:900px) {
    .home-cta{
        padding: 50px 20px;
    }
}

/* == MOBILE == */

@media (max-width: 600px) {
    .home-cta{
        padding: 40px;
        margin-bottom: 20px;
    }

    .home-cta-text{
        font-size: 15px;
    }
    
}